# 通过tushare将数据下载至本地

In [2]:
import tushare as ts
import os
import pandas as pd
token = "aaac9a12b74a092171e9e93491fc52eb2c20fd555dfd6ecfc006762e"  # 请替换成您在tushare官网上获得的token
ts.set_token(token)

In [3]:
pro = ts.pro_api()

# 获取沪深300指数的成分股列表
data = pro.index_weight(index_code='000300.SH', start_date='20100101', end_date='20231030')

# 获取成分股代码列表
stock_codes = data['con_code'].tolist()

# 将股票代码序列转换为集合并去重
stock_codes = list(set(stock_codes))

# 先将stock_codes转换为数据框
df_stock_codes = pd.DataFrame(stock_codes, columns=['stock_codes'])

# 存储为csv文件
df_stock_codes.to_csv('data/stock_codes.csv', index=False)

In [23]:
stock_data = pro.daily(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
stock_data

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000725.SZ,20231030,3.82,4.04,3.81,4.02,3.83,0.19,4.9608,5873259.63,2.325377e+06
1,000725.SZ,20231027,3.81,3.84,3.79,3.83,3.81,0.02,0.5249,2190960.79,8.366439e+05
2,000725.SZ,20231026,3.76,3.82,3.75,3.81,3.78,0.03,0.7937,2585704.91,9.788987e+05
3,000725.SZ,20231025,3.74,3.80,3.71,3.78,3.70,0.08,2.1622,2406198.35,9.044364e+05
4,000725.SZ,20231024,3.71,3.72,3.66,3.70,3.69,0.01,0.2710,3220828.29,1.189377e+06
...,...,...,...,...,...,...,...,...,...,...,...
3336,000725.SZ,20100108,5.32,5.53,5.23,5.44,5.28,0.16,3.0300,814387.74,4.401009e+05
3337,000725.SZ,20100107,5.29,5.45,5.18,5.28,5.29,-0.01,-0.1900,601272.41,3.203634e+05
3338,000725.SZ,20100106,5.32,5.39,5.26,5.29,5.31,-0.02,-0.3800,552837.69,2.947467e+05
3339,000725.SZ,20100105,5.18,5.35,5.17,5.31,5.18,0.13,2.5100,568236.94,3.010313e+05
3340,000725.SZ,20100104,5.21,5.29,5.10,5.18,5.20,-0.02,-0.3800,290220.67,1.507181e+05

In [24]:
suspension_data = pro.suspend(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
suspension_data

       ts_code suspend_date resume_date  suspend_reason
0    000725.SZ     20150710    20150713         拟披露重大事项
1    000725.SZ     20150709        None         拟披露重大事项
2    000725.SZ     20150708        None         拟披露重大事项
3    000725.SZ     20150618    20150619            重大事项
4    000725.SZ     20130724    20130725            重大事项
..         ...          ...         ...             ...
194  000725.SZ     20010525        None           董事会公告
195  000725.SZ     20010524        None  因公司拟针对媒体报道做出说明
196  000725.SZ     20010223        None           董事会公告
197  000725.SZ     20001222        None     增发A股上网中签率公告
198  000725.SZ     20001211        None    京东方增发A股招股说明书

[199 rows x 4 columns]

In [25]:
limit_data = pro.stk_limit(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
limit_data

     trade_date    ts_code  up_limit  down_limit
0      20231030  000725.SZ      4.21        3.45
1      20231027  000725.SZ      4.19        3.43
2      20231026  000725.SZ      4.16        3.40
3      20231025  000725.SZ      4.07        3.33
4      20231024  000725.SZ      4.06        3.32
...         ...        ...       ...         ...
3352   20100108  000725.SZ      5.81        4.75
3353   20100107  000725.SZ      5.82        4.76
3354   20100106  000725.SZ      5.84        4.78
3355   20100105  000725.SZ      5.70        4.66
3356   20100104  000725.SZ      5.72        4.68

[3357 rows x 4 columns]

In [26]:
adj_factor_data = pro.adj_factor(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
adj_factor_data

        ts_code trade_date  adj_factor
0     000725.SZ   20231030       5.320
1     000725.SZ   20231027       5.320
2     000725.SZ   20231026       5.320
3     000725.SZ   20231025       5.320
4     000725.SZ   20231024       5.320
...         ...        ...         ...
3352  000725.SZ   20100108       3.893
3353  000725.SZ   20100107       3.893
3354  000725.SZ   20100106       3.893
3355  000725.SZ   20100105       3.893
3356  000725.SZ   20100104       3.893

[3357 rows x 3 columns]

In [27]:
daily_indicator_data = pro.daily_basic(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
daily_indicator_data

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv
0,000725.SZ,20231030,4.02,1.5763,1.9120,2.22,20.3148,90.7110,1.2076,0.8598,0.9186,5.1565,1.5186,3.815788e+06,3.726058e+06,3.071709e+06,1.533947e+07,1.497875e+07
1,000725.SZ,20231027,3.83,0.5880,0.7133,0.79,19.3547,86.4237,1.1505,0.8191,0.8752,5.4123,1.5939,3.815788e+06,3.726058e+06,3.071709e+06,1.461447e+07,1.427080e+07
2,000725.SZ,20231026,3.81,0.6940,0.8418,0.94,19.2536,85.9724,1.1445,0.8149,0.8706,5.4407,1.6023,3.815788e+06,3.726058e+06,3.071709e+06,1.453815e+07,1.419628e+07
3,000725.SZ,20231025,3.78,0.6458,0.7833,0.90,19.1020,85.2954,1.1355,0.8084,0.8638,5.4839,1.6150,3.815788e+06,3.726058e+06,3.071709e+06,1.442368e+07,1.408450e+07
4,000725.SZ,20231024,3.70,0.8644,1.0485,1.31,18.6977,83.4902,1.1115,0.7913,0.8455,5.6024,1.6499,3.815788e+06,3.726058e+06,3.071709e+06,1.411842e+07,1.378642e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336,000725.SZ,20100108,5.44,3.7576,7.0624,1.73,NaN,NaN,2.6462,5.4066,8.3341,0.0000,NaN,8.282902e+05,2.167287e+05,1.153126e+05,4.505899e+06,1.179004e+06
3337,000725.SZ,20100107,5.28,2.7743,5.2143,1.50,NaN,NaN,2.5684,5.2476,8.0890,0.0000,NaN,8.282902e+05,2.167287e+05,1.153126e+05,4.373372e+06,1.144328e+06
3338,000725.SZ,20100106,5.29,2.5508,4.7943,1.60,NaN,NaN,2.5732,5.2576,8.1043,0.0000,NaN,8.282902e+05,2.167287e+05,1.153126e+05,4.381655e+06,1.146495e+06
3339,000725.SZ,20100105,5.31,2.6219,4.9278,1.82,NaN,NaN,2.5830,5.2774,8.1350,0.0000,NaN,8.282902e+05,2.167287e+05,1.153126e+05,4.398221e+06,1.150829e+06
3340,000725.SZ,20100104,5.18,1.3391,2.5168,0.94,NaN,NaN,2.5197,5.1482,7.9358,0.0000,NaN,8.282902e+05,2.167287e+05,1.153126e+05,4.290543e+06,1.122655e+06

In [28]:
moneyflow_data = pro.moneyflow(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
moneyflow_data

,ts_code,trade_date,buy_sm_vol,buy_sm_amount,sell_sm_vol,sell_sm_amount,buy_md_vol,buy_md_amount,sell_md_vol,sell_md_amount,buy_lg_vol,buy_lg_amount,sell_lg_vol,sell_lg_amount,buy_elg_vol,buy_elg_amount,sell_elg_vol,sell_elg_amount,net_mf_vol,net_mf_amount
0,000725.SZ,20231030,810679,32084.49,1671548,66210.57,1098849,43526.94,1584009,62853.48,1942712,77030.84,1520458,60187.83,2021020,79895.46,1097245.0,43285.84,2035653.0,80543.60
1,000725.SZ,20231027,498347,19030.03,419882,16028.19,486243,18568.15,479091,18291.52,537468,20510.28,685295,26175.76,668903,25555.93,606693.0,23168.91,43154.0,1743.26
2,000725.SZ,20231026,611009,23139.67,545356,20661.94,649736,24602.41,563570,21341.03,758800,28730.03,648238,24535.77,566160,21417.77,828541.0,31351.14,246415.0,9447.66
3,000725.SZ,20231025,602440,22659.53,660714,24849.61,614969,23128.12,548416,20623.16,569098,21378.55,589378,22153.48,619691,23277.43,607690.0,22817.39,556843.0,20997.62
4,000725.SZ,20231024,897560,33160.36,684478,25276.02,819699,30291.74,700733,25878.22,788685,29109.06,1143714,42257.17,714884,26376.51,691903.0,25526.26,159264.0,5998.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3334,000725.SZ,20100111,390146,21423.17,211660,11609.86,401042,22031.95,273116,14981.28,335681,18441.35,401570,22046.22,371654,20455.89,612177.0,33715.00,222295.0,12307.22
3335,000725.SZ,20100108,211076,11378.36,256077,13850.66,247378,13351.28,242678,13100.98,201619,10901.55,221185,11919.24,141886,7702.81,82019.0,4463.11,145588.0,7931.80
3336,000725.SZ,20100107,152387,8098.67,208127,11107.88,182818,9729.93,202771,10796.87,157201,8383.20,140564,7482.72,104012,5568.24,44956.0,2392.58,24772.0,1399.70
3337,000725.SZ,20100106,129397,6884.00,166184,8871.25,137446,7318.36,168904,9007.53,229567,12248.67,161488,8607.13,54735,2934.08,54567.0,2899.20,-32729.0,-1702.97
3338,000725.SZ,20100105,135330,7163.51,227540,12053.74,163000,8632.38,189678,10042.24,158925,8416.84,107003,5669.45,107832,5723.13,40866.0,2170.44,113199.0,6016.08

In [30]:
financial_data = pro.fina_indicator(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
financial_data

,ts_code,ann_date,end_date,eps,dt_eps,total_revenue_ps,revenue_ps,capital_rese_ps,surplus_rese_ps,undist_profit_ps,...,ocf_yoy,roe_yoy,bps_yoy,assets_yoy,eqt_yoy,tr_yoy,or_yoy,q_sales_yoy,q_op_qoq,equity_yoy
0,000725.SZ,20231031,20230930,0.020,0.020,3.3156,3.3156,1.4868,0.0849,0.9030,...,-25.6882,-80.2857,0.6480,-1.1680,-4.0067,-4.6927,-4.6927,12.6490,1190.9662,-2.0082
1,000725.SZ,20230829,20230630,0.020,0.020,2.0997,2.0997,1.4489,0.0849,0.8953,...,-42.2180,-87.6090,-0.6630,-2.6519,-5.1793,-12.4794,-12.4794,2.6011,103.7135,-9.9676
2,000725.SZ,20230429,20230331,0.003,0.003,0.9942,0.9942,1.4478,0.0849,0.9428,...,-31.3984,-93.6384,0.2419,-1.9456,-2.8054,-24.7689,-24.7689,-24.7689,-181.7341,-11.4182
3,000725.SZ,20230429,20230331,0.003,0.003,0.9942,0.9942,1.4478,0.0849,0.9428,...,-31.3984,-93.6384,0.2359,-1.9442,-2.8123,-24.7689,-24.7689,-24.7689,-181.7341,-11.4182
4,000725.SZ,20230404,20221231,0.190,NaN,4.6710,4.6710,1.4456,0.0849,0.9380,...,-31.3830,-69.3914,-0.1550,-6.5888,-4.9751,-19.2829,-19.2829,-18.7859,91.6487,-4.9751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,000725.SZ,20110426,20101231,-0.242,-0.242,0.7122,0.7122,1.5517,0.0443,-0.3812,...,-230.0375,-3014.0926,1.3800,77.1411,38.4106,28.4212,28.4212,-4.2766,-107.9829,38.4106
68,000725.SZ,20101029,20100930,-0.120,-0.120,0.7488,0.7488,1.3906,0.0603,-0.3969,...,-234.0388,-30.7533,-5.9600,37.4038,-5.6486,42.7563,42.7563,-1.5034,-99.9591,-0.0971
69,000725.SZ,20100828,20100630,-0.070,-0.070,0.5054,0.5054,1.3891,0.0603,-0.3427,...,101.8840,29.6704,-3.2100,26.1135,-3.2355,82.1681,82.1681,45.3692,22.0561,2.5870
70,000725.SZ,20100828,20100630,-0.070,-0.070,0.5054,0.5054,1.3891,0.0603,-0.3427,...,101.8840,29.6704,-3.2100,26.1135,-3.2355,82.1681,82.1681,45.3692,22.0561,2.5870
71,000725.SZ,20100429,20100331,-0.040,-0.040,0.2286,0.2286,1.3949,0.0603,-0.3133,...,122.8458,77.4756,-1.8300,5.4389,-1.6153,162.6789,162.6789,162.6789,-11.6563,220.8498

In [31]:
income_data = pro.income(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
income_data

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,end_type,basic_eps,diluted_eps,total_revenue,...,withdra_biz_devfund,withdra_rese_fund,withdra_oth_ersu,workers_welfare,distr_profit_shrhder,prfshare_payable_dvd,comshare_payable_dvd,capit_comstock_div,continued_net_profit,update_flag
0,000725.SZ,20230829,20230829,20230630,1,1,2,0.020,0.020,8.017788e+10,...,None,None,None,None,None,None,None,None,-1.667584e+09,1
1,000725.SZ,20230429,20230429,20230331,1,1,1,0.003,0.003,3.797350e+10,...,None,None,None,None,None,None,None,None,-1.235314e+09,0
2,000725.SZ,20230429,20230429,20230331,1,1,1,0.003,0.003,3.797350e+10,...,None,None,None,None,None,None,None,None,-1.235314e+09,1
3,000725.SZ,20230404,20230404,20221231,1,1,4,0.190,NaN,1.784137e+11,...,None,None,None,None,None,None,None,None,NaN,0
4,000725.SZ,20230404,20230404,20221231,1,1,4,0.190,NaN,1.784137e+11,...,None,None,None,None,None,None,None,None,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,000725.SZ,20110426,20110426,20101231,1,1,4,-0.242,-0.242,8.025291e+09,...,None,None,None,None,None,None,None,None,NaN,0
63,000725.SZ,20101029,20101029,20100930,1,1,3,-0.120,-0.120,6.202064e+09,...,None,None,None,None,None,None,None,None,NaN,0
64,000725.SZ,20100828,20100828,20100630,1,1,2,-0.070,-0.070,4.186430e+09,...,None,None,None,None,None,None,None,None,NaN,0
65,000725.SZ,20100429,20100429,20100331,1,1,1,-0.040,-0.040,1.893639e+09,...,None,None,None,None,None,None,None,None,NaN,0
66,000725.SZ,20100420,20100420,20091231,1,1,4,0.008,0.008,6.249194e+09,...,None,None,None,None,None,None,None,None,NaN,0

In [32]:
balance_data = pro.balancesheet(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
balance_data

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,end_type,total_share,cap_rese,undistr_porfit,...,accounts_receiv_bill,accounts_pay,oth_rcv_total,fix_assets_total,cip_total,oth_pay_total,long_pay_total,debt_invest,oth_debt_invest,update_flag
0,000725.SZ,20230829,20230829,20230630,1,1,2,3.818606e+10,5.532634e+10,3.418659e+10,...,2.762162e+10,3.209513e+10,623339254.0,2.174851e+11,2.458730e+10,1.956068e+10,212301613.0,0.0,0.0,0
1,000725.SZ,20230429,20230429,20230331,1,1,1,3.819636e+10,5.530099e+10,3.601332e+10,...,2.509826e+10,3.129844e+10,840023731.0,2.000536e+11,4.417016e+10,1.865815e+10,224960255.0,0.0,0.0,0
2,000725.SZ,20230404,20230429,20221231,1,1,4,3.819636e+10,5.521850e+10,3.582935e+10,...,2.841544e+10,3.070494e+10,975809236.0,2.059871e+11,4.338613e+10,1.963222e+10,229587077.0,NaN,NaN,1
3,000725.SZ,20230404,20230404,20221231,1,1,4,3.819636e+10,5.521850e+10,3.583908e+10,...,2.841544e+10,3.070494e+10,975809236.0,2.059871e+11,4.338613e+10,1.963222e+10,229587077.0,NaN,NaN,0
4,000725.SZ,20230404,20230429,20221231,1,1,4,3.819636e+10,5.521850e+10,3.582935e+10,...,2.841544e+10,3.070494e+10,975809236.0,2.059871e+11,4.338613e+10,1.963222e+10,229587077.0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,000725.SZ,20100828,20100828,20100630,1,1,2,8.282902e+09,1.150553e+10,-2.838957e+09,...,1.745109e+09,2.578533e+09,165112127.0,7.486498e+09,6.116330e+09,3.564352e+08,NaN,NaN,NaN,0
79,000725.SZ,20100828,20100828,20100630,1,1,2,8.282902e+09,1.150553e+10,-2.838957e+09,...,1.745109e+09,2.578533e+09,165112127.0,7.486498e+09,6.116330e+09,3.564352e+08,NaN,NaN,NaN,1
80,000725.SZ,20100429,20100429,20100331,1,1,1,8.282902e+09,1.155368e+10,-2.595104e+09,...,1.580475e+09,2.116494e+09,161199547.0,7.613122e+09,1.744418e+09,2.719615e+08,NaN,NaN,NaN,0
81,000725.SZ,20100420,20110426,20091231,1,1,4,8.282902e+09,1.154123e+10,-2.291359e+09,...,1.527628e+09,1.717877e+09,143067973.0,7.955059e+09,1.140780e+09,6.133402e+08,NaN,NaN,NaN,0
82,000725.SZ,20100420,20110426,20091231,1,1,4,8.282902e+09,1.154123e+10,-2.291359e+09,...,1.527628e+09,1.717877e+09,143067973.0,7.955059e+09,1.140780e+09,6.133402e+08,NaN,NaN,NaN,1

In [33]:
cashflow_data = pro.cashflow(ts_code='000725.SZ', start_date='20100101', end_date='20231030')
cashflow_data

,ts_code,ann_date,f_ann_date,end_date,comp_type,report_type,end_type,net_profit,finan_exp,c_fr_sale_sg,...,net_dism_capital_add,net_cash_rece_sec,credit_impa_loss,use_right_asset_dep,oth_loss_asset,end_bal_cash,beg_bal_cash,end_bal_cash_equ,beg_bal_cash_equ,update_flag
0,000725.SZ,20230829,20230829,20230630,1,1,2,-1.667584e+09,1.093562e+09,8.549272e+10,...,None,0.0,NaN,86990672.0,None,6.058832e+10,6.438204e+10,0.0,0.0,1
1,000725.SZ,20230829,20230829,20230630,1,1,2,-1.667584e+09,1.093562e+09,8.549272e+10,...,None,0.0,NaN,86990672.0,None,6.058832e+10,6.438204e+10,0.0,0.0,0
2,000725.SZ,20230429,20230429,20230331,1,1,1,NaN,NaN,4.251487e+10,...,None,0.0,NaN,NaN,None,NaN,NaN,NaN,NaN,0
3,000725.SZ,20230429,20230429,20230331,1,1,1,NaN,NaN,4.251487e+10,...,None,0.0,NaN,NaN,None,NaN,NaN,NaN,NaN,1
4,000725.SZ,20230404,20230404,20221231,1,1,4,-1.737175e+09,4.070315e+09,1.933277e+11,...,None,NaN,51577226.0,NaN,None,6.438204e+10,7.662349e+10,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,000725.SZ,20110426,20110426,20101231,1,1,4,-2.268033e+09,4.227035e+06,8.616726e+09,...,None,NaN,NaN,NaN,None,1.909795e+10,1.523049e+10,NaN,NaN,0
59,000725.SZ,20101029,20101029,20100930,1,1,3,NaN,NaN,5.993925e+09,...,None,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,0
60,000725.SZ,20100828,20100828,20100630,1,1,2,-6.176792e+08,3.162458e+07,3.883607e+09,...,None,NaN,NaN,NaN,None,1.209318e+10,1.523049e+10,NaN,NaN,0
61,000725.SZ,20100429,20100429,20100331,1,1,1,NaN,NaN,1.845550e+09,...,None,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,0
62,000725.SZ,20100420,20100420,20091231,1,1,4,-6.526389e+07,4.330638e+07,6.044760e+09,...,None,NaN,NaN,NaN,None,1.523049e+10,3.528598e+09,NaN,NaN,0

In [34]:
# 创建daily_data文件夹
if not os.path.exists('data/daily_data'):
    os.makedirs('data/daily_data')

# 循环获取每个股票的历史行情数据
for code in stock_codes:
    # 获取股票代码为code的历史行情数据
    stock_data = pro.daily(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到文件中
    file_name = f'data/daily_data/{code}.csv'
    stock_data.to_csv(file_name, index=False)

In [35]:
# 创建suspension_data文件夹
if not os.path.exists('data/suspension_data'):
    os.makedirs('data/suspension_data')

# 循环获取每个股票的停牌表
for code in stock_codes:
    # 获取股票代码为code的停牌表
    suspension_data = pro.suspend(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到suspension_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/suspension_data/{code}.csv'
    suspension_data.to_csv(file_name, index=False)

In [36]:
# 创建limit_data文件夹
if not os.path.exists('data/limit_data'):
    os.makedirs('data/limit_data')

# 循环获取每个股票的涨跌停表
for code in stock_codes:
    # 获取股票代码为code的涨跌停表
    limit_data = pro.stk_limit(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到limit_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/limit_data/{code}.csv'
    limit_data.to_csv(file_name, index=False)

In [37]:
# 创建adj_factor_data文件夹
if not os.path.exists('data/adj_factor_data'):
    os.makedirs('data/adj_factor_data')

# 循环获取每个股票的复权因子表
for code in stock_codes:
    # 获取股票代码为code的复权因子表
    adj_factor_data = pro.adj_factor(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到adj_factor_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/adj_factor_data/{code}.csv'
    adj_factor_data.to_csv(file_name, index=False)

In [38]:
# 创建daily_basic_data文件夹
if not os.path.exists('data/daily_basic_data'):
    os.makedirs('data/daily_basic_data')

# 循环获取每个股票的每日指标表
for code in stock_codes:
    # 获取股票代码为code的每日指标表
    daily_indicator_data = pro.daily_basic(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到daily_indicator_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/daily_basic_data/{code}.csv'
    daily_indicator_data.to_csv(file_name, index=False)

In [39]:
# 创建moneyflow_data文件夹
if not os.path.exists('data/moneyflow_data'):
    os.makedirs('data/moneyflow_data')

# 循环获取每个股票的资金流表
for code in stock_codes:
    # 获取股票代码为code的资金流表
    moneyflow_data = pro.moneyflow(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到moneyflow_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/moneyflow_data/{code}.csv'
    moneyflow_data.to_csv(file_name, index=False)

In [40]:
# 创建financial_data文件夹
if not os.path.exists('data/financial_data'):
    os.makedirs('data/financial_data')

# 循环获取每个股票的财务指标表
for code in stock_codes:
    # 获取股票代码为code的财务指标表
    financial_data = pro.fina_indicator(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到financial_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/financial_data/{code}.csv'
    financial_data.to_csv(file_name, index=False)

In [41]:
# 创建income_data文件夹
if not os.path.exists('data/income_data'):
    os.makedirs('data/income_data')

# 循环获取每个股票的利润表
for code in stock_codes:
    # 获取股票代码为code的利润表
    income_data = pro.income(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到income_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/income_data/{code}.csv'
    income_data.to_csv(file_name, index=False)

In [42]:
# 创建balance_data文件夹
if not os.path.exists('data/balance_data'):
    os.makedirs('data/balance_data')

# 循环获取每个股票的资产负债表
for code in stock_codes:
    # 获取股票代码为code的资产负债表
    balance_data = pro.balancesheet(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到balance_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/balance_data/{code}.csv'
    balance_data.to_csv(file_name, index=False)

In [43]:
# 创建cashflow_data文件夹
if not os.path.exists('data/cashflow_data'):
    os.makedirs('data/cashflow_data')

# 循环获取每个股票的现金流表
for code in stock_codes:
    # 获取股票代码为code的现金流表
    cashflow_data = pro.cashflow(ts_code=code, start_date='20100101', end_date='20231030')

    # 将数据保存到cashflow_data文件夹中以股票代码命名的csv文件中
    file_name = f'data/cashflow_data/{code}.csv'
    cashflow_data.to_csv(file_name, index=False)